*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    top: 0;
}



.menu{
    width: 65%;
}

.menu__container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.menu-img{
    width: 49%;
}

.menu__img{
    padding: 0;
}

.div__menus{
    width: 3px;
    height: 100vh;
}

.contact{
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
}

.link{
    text-decoration: none;
    color: #000;
}

.link:hover{
    text-decoration: underline;
}


@media screen and (max-width: 450px){
    .main{
        margin-top: 0;
        padding-top: 40px;
    }

    .menu__container{
        display: flex;
        flex-direction: column;
    }

    .menu-img{
        width: 90%;
    }

    #new-menu-img{
        width: 100%;
    }
}
